package exerc;
import javax.swing.JOptionPane;

public class Exerc {

    
    public static void main(String[] args) {
        double n1,cubo;
        String sn1;
        
        sn1=JOptionPane.showInputDialog(null,"digite o valor");
        
        n1 = Double.parseDouble(sn1);
        
        cubo = n1*n1*n1;
        
        JOptionPane.showMessageDialog(null,"O resultado  é" + cubo);
    }
