package exerc;
import javax.swing.JOptionPane;

public class Exerc {

    
    public static void main(String[] args) {
        int n1,res;
        String sn1;
        
        sn1=JOptionPane.showInputDialog(null,"digite o valor");
        
        n1 = Integer.parseInt(sn1);
        
        res = n1*n1*n1;
        
        JOptionPane.showMessageDialog(null,"O resultado  é" + res);
    }
